/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
  /* Declare the base font-family - from google font api or other */
    font-family: roboto, sans-serif;
    color: whitesmoke;
    background-color: deepskyblue;
}

header, nav, main, footer { 
    max-width: 700px;
    margin: auto;
/* the comma means apply the following CSS declarations to all of the listed elements */
/* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    
}
header h1 {
    display: inline;
}
header img {
    float: left;
    width: 20%;
}
header .subheading {
    
}
nav {
    font-size: .7em;
    margin-top: 1.5em; 
}
nav button {
    background-color: #FFFA6F;
    font-size: 1.6rem;
    margin: .2rem 2%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #87cefa;
}
nav ul li {
    
}
nav ul li a {
    text-decoration: none;
    display: block;
    padding: .8rem 2%;
    border-top: 1px solid rgba(255, 250, 111, 1);
    color: #4C53DD;
}
.active a {
    padding-right: 1em;
    padding-left: 1em;
    color: #FFFA6F;
    background-color: rgba(255, 255, 255, .3)
}
nav ul li a:hover {
    color: whitesmoke;
    background-color: rgba(255, 255, 255, .3);
}

main {
    
}
main h2 {
    
}
main figure { 
    margin: 0 0 .2rem 2%; width:96%; 
}
main figure img { 
    width: 100%; 
}

section {
    
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: auto; /* fill the page in the small/phone view */
  margin: auto;
}

footer {
    
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
section.forecast { 
    display: none;
}
.titleyellow {
    color: #FFFA6F;
}
.titleblue {
    color: #4C53DD;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFA6F;
}
article p.town-article img {
    float: left;
    padding-right: .5em;
    width: 50%;
}
.current img {
    width: 10%;
}
nav ul.hide {
    display: none;
}


/*-------- Clearfix: Force an Element not to collapse ----------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}